<ion-content class="page-background">
  <div class="header-container">
    <img [src]="profilePicUrl" alt="Profile">
    <h1 class="username">User Profile</h1>
  </div>
  <div class="shows-container">
    <h2 class="subtitle">Favorite Shows</h2>
    <div class="shows-list">
      <swiper-container loop="true" [slidesPerView]="8" [autoplay]="{ delay: 2000 }"> 
        <swiper-slide *ngFor="let poster of showPosters">
          <img [src]="poster.imageUrl">
        </swiper-slide>            
      </swiper-container>
    </div>
  </div>
  <div class="cast-container">
    <h2 class="subtitle">Favorite Characters</h2>
    <div class="cast-list">
    </div>
  </div>
</ion-content>