<ion-content class="page-background">
  <div id="container">
    <ion-grid>
      <ion-row class="ion-align-items-center" style="height: 100%;">
        <ion-col size-lg="3" size-sm="1"></ion-col>
        <ion-col size-lg="3">
          <ion-card style="border-radius: 15px;">
            <ion-card-header>
              <ion-card-title>Login</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form id="loginForm" (ngSubmit)="login()">
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" id="email" [(ngModel)]="loginData.email" name="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" id="password" [(ngModel)]="loginData.password" name="password"></ion-input>
                </ion-item>
                <ion-button type="submit" expand="block" id="loginButton">Login</ion-button>
                <ion-button type="submit" expand="block" id="loginButton" (click)="loginWithGoogle()">
                  <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo">
                  <span>Login with Google</span>
                </ion-button>
                <div class="account-text">
                  <ion-text><a routerLink="/register">Create an account</a></ion-text>
                </div>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-md="3">
          <swiper-container direction="vertical" loop="true" [slidesPerView]="2.5" [autoplay]="{ delay: 2000 }">
            <swiper-slide *ngFor="let poster of showPosters">
              <img [src]="poster">
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col size-lg="3" size-sm="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
