.page-background {
  --background: var(--theme-bg) url('/assets/background.svg') no-repeat center center / cover;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  transform: translateY(-10%);
}

#search-container {
  position: relative;
  width: 100%;
}

#progress-container {
  position: absolute;
  bottom: -50px;
  width: 100%;
}

#progress-text {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

img {
  width: 200px;
  height: auto;
  margin: 10px auto;
  display: block;
  padding: 20px;
}

ion-searchbar {
  --background: var(--theme-bg);
  --border-radius: 25px;
  --box-shadow: 0 0 0 2px var(--theme-search-fg);
  --icon-color: var(--theme-search-fg);
  font-family: 'Varela Round', sans-serif;
  z-index: 1000;
}

ion-list {
  position: absolute;
  width: 97%;
  background: var(--theme-bg);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 35px;
  top: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  ion-item {
    font-family: 'Varela Round', sans-serif;
    --background: var(--theme-bg);
  }
}

.clickable {
  cursor: pointer;
}
