.page-background {
  --background: black url('/assets/background.svg') no-repeat center center / cover;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  transform: translateY(-10%);
}

#search-container {
  position: relative;
  width: 100%;
}

#results-container {
  position: absolute;
  width: 100%;
  background: #000;
  border-radius: 25px;
  z-index: 1000;
}

#progress-container {
  margin-top: 40px;
}

#progress-text {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

img {
  width: 200px;
  height: auto;
  margin: 10px auto;
  display: block;
  padding: 20px;
}

ion-searchbar {
  --background: rgba(25, 25, 25, 0.5);
  --border-radius: 25px;
  --box-shadow: 0 0 0 2px #dbdbdb;
  --icon-color: #dbdbdb;
}

.clickable {
  cursor: pointer;
}
