.page-background {
  display: flex;
  flex-direction: row;
  --background: var(--theme-bg) url('/assets/blur-background.svg') no-repeat center center / cover;
}

.center-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header-container {
    height: 100px;
    display: inline-block;
    vertical-align: center;
    justify-content: center;
    position: relative;

    .show-title {
      font-family: 'Varela Round', sans-serif;
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      color: var(--theme-container-fg);
      background-color: var(--theme-container-bg-secondary);
      border-radius: 30px;
      padding: 15px 70px;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
      z-index: 0;
    }

    .wing {
      height: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-100%);
      z-index: 1;
      cursor: pointer;
    }

    .west-wing {
      left: 15px;
    }

    .east-wing {
      right: 15px;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  margin: 0 auto;
  width: 75%;
  max-height: 700px;
  max-width: 735px;
}

.info-container {
  font-family: 'Varela Round', sans-serif;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .show-image {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
  }

  .select-container {
    background-color: var(--theme-container-bg);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
    border-radius: 30px;

    ion-item {
      --background: transparent;
      --border-radius: 30px;

      ion-select {
        font-size: 1.5rem;
        font-family: 'Varela Round', sans-serif;
        
      }

      ion-select::part(text),
      ion-select::part(icon),
      ion-select::part(placeholder) {
        color: var(--theme-text);
      }
    }

    .bank-title {
      font-size: 1.5rem;
      font-family: 'Varela Round', sans-serif;
      color: var(--theme-text);
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    ion-icon {
      vertical-align: middle;
      width: 13px;
      cursor: pointer;
    }

    .bank-container {
      width: 250px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;
    
      .bank-member {
        display: flex;
        align-items: center;
        margin: 10px;
    
        .bank-image-container {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
    
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 30%;
          }
        }
      }
    }
  }
}

.rank-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 

  .cast-container {
    display: flex;
    background-color: var(--theme-container-bg);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding-bottom: 80px;
    position: relative;
    align-items: center;

    .cast-member {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .cast-image-container {
        width: 80px;
        height: 80px;
        margin: 10px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center 30%;
        }
      }

      .cast-name {
        display: block;
        font-size: 1.5rem;
        font-family: 'Varela Round', sans-serif;
        color: var(--theme-container-fg);
        text-align: center;
        margin-left: 10px;
      }
    }

    .cast-button {
      background: var(--theme-container-bg-dark);
      color: var(--theme-container-fg);
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 24px;
      font-family: 'Varela Round', sans-serif;
      margin: 10px auto;
      cursor: pointer;
      border-radius: 5px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    
      &:active {
        box-shadow:
          inset 2px 2px 3px rgba(0, 0, 0, 0.2),
          inset -2px -2px 3px rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  .cast-name {
    display: block;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: var(--theme-text);
    text-align: left;
    margin-left: 10px;
    line-height: normal;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }
}

.cast-member {
  display: flex;
  align-items: center;

  .cast-image-container {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 30%;
    }
  }
}