<ion-content class="page-background">
  <div class="center-container">
    <div class="header-container">
      <img src="../assets/west-wing.svg" class="wing west-wing" (click)="navigateToPrevShow()" alt="Previous show">
      <h1 class="show-title">{{ show?.show_name }}</h1>
      <img src="../assets/east-wing.svg" class="wing east-wing" (click)="navigateToNextShow()" alt="Next show">
    </div>
    <div class="main-container">
      <div class="info-container">
        <img [src]="'https://image.tmdb.org/t/p/w500' + show?.show_image" alt="{{ show?.show_name }}" class="show-image">
        <div class="select-container">
          <ion-item>
            <ion-select interface="popover" placeholder="Season" (ionChange)="onSeasonSelect($event)">
              <ion-select-option *ngFor="let season of seasons" [value]="season.label">{{ season.label }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="selectedSeason">
            <ion-select interface="popover" #episodeSelect placeholder="Episode" (ionChange)="onEpisodeSelect($event)">
              <ion-select-option *ngFor="let episodeIndex of selectedSeason.episodes" [value]="episodeIndex">{{ 'Episode ' + (episodeIndex % 100) }}</ion-select-option>
            </ion-select>
          </ion-item>
          <h2 class="bank-title-opaque" *ngIf="bankCharacters.length > 0" (click)="toggleBankVisibility()"
              [class.bank-title]="isBankVisible" [class.bank-title-opaque]="!isBankVisible">
            Bank <ion-icon [name]="isBankVisible ? 'caret-up-sharp' : 'caret-down-sharp'"></ion-icon>
          </h2>
          <div cdkDropListGroup>
            <div class="bank-container" *ngIf="bankCharacters.length > 0" cdkDropList #bankList="cdkDropList"
              [cdkDropListConnectedTo]="[castList]" (cdkDropListDropped)="drop($event)">
              <div class="bank-member" *ngFor="let character of bankCharacters" cdkDrag>
                <div class="bank-image-container">
                  <img [src]="character.image ? 'https://image.tmdb.org/t/p/w500' + character.image : '../assets/profile.svg'" alt="Cast Image">
                </div>
              </div>
            </div>
            <div cdkDropList #placeholder></div>
          </div>
        </div>
      </div>
      <div class="rank-container">
        <div class="cast-container">
          <div cdkDropList #castList="cdkDropList" [cdkDropListData]="rankCharacters"
            [cdkDropListConnectedTo]="[bankList]" (cdkDropListDropped)="drop($event)">
            <div class="cast-member" *ngFor="let character of rankCharacters" cdkDrag
              (cdkDragStarted)="playClickSound()" (cdkDragReleased)="playClackSound()">
              <div class="cast-image-container">
                <img [src]="character.image ? 'https://image.tmdb.org/t/p/w500' + character.image : '../assets/profile.svg'" alt="Cast Image">
              </div>
              <span class="cast-name">{{ character.name }}</span>
            </div>           
          </div>
          <button class="cast-button" (click)="saveRanking(); showOverlay(); playCastSound()">CAST</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" id="overlay">
    <div class="overlay-background"></div>
    <img src="../assets/heart.svg" alt="Casted!">
  </div>
</ion-content>
