.blue-horizontal-fade {
  --background: linear-gradient(to right, #040d33, #113ccf 75%, #0a1a4d);
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
  height: calc(100vh - 50px);
}

.info-container {
  flex: 1;
  max-width: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  .header-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding-bottom: 40px;

    .show-image {
      width: 180px;
      height: auto;
      margin-right: 20px;
      border: 3px solid #ff9911;
      border-radius: 10px;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
    }

    .text-container {
      display: flex;
      flex-direction: column;
      width: 50%;

      .show-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        margin-top: -3px;
      }

      .show-subtitle {
        font-size: 1rem;
        color: white;
        margin-top: -8px;
        margin-left: 3px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .blank-line {
        height: 1rem;
        margin-top: -8px;
        margin-left: 3px;
      }
    }
  }

  .seasons-container {
    display: flex;
    flex: 2;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: auto;

    .season {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
    }

    .episode {
      width: 45px;
      height: 45px;
      min-width: 45px;
      min-height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #bff5fd;
      margin-bottom: 10px;
      margin-right: 10px;
      color: #bff5fd;
      cursor: pointer;

      &:hover {
        border-color: #ff9911;
        color: #ff9911;
      }
    }

    .episode-selected {
      border-color: #ff9911;
      color: #ff9911;
    }
  }
}

.cast-wrapper {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cast-container {
  display: flex;
  flex-direction: column;
  background-color: #113ccf;
  box-shadow: 
    3px 3px 5px rgba(0, 0, 0, 0.2),
    -3px -3px 5px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding-bottom: 80px;
  position: relative;

  .cast-member {
    display: flex;
    align-items: center;
    margin: 10px;

    .cast-image-container {
      width: 80px;
      height: 80px;
      margin: 10px;
      border: 3px solid #ff9911;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 30%;
      }
    }

    .cast-name {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      text-align: center;
      margin-left: 10px;
    }
  }

  .cast-button {
    background: #0a1a4d;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:
      2px 2px 3px rgba(0, 0, 0, 0.2),
      -2px -2px 3px rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  .cast-name {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 10px;
    line-height: normal;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }
}

.cast-member {
  display: flex;
  align-items: center;
  margin: 10px;

  .cast-image-container {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 3px solid #ff9911;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 30%;
    }
  }
}