<ion-app>
  <div class="sidebar" *ngIf="!isLandingPage">
    <ion-toolbar>
      <ion-buttons class="toolbar-buttons">
        <ion-button class="profile-button" *ngIf="!isLoginPage" (click)="login()">
          <div class="profile">
            <img [src]="profilePicUrl" alt="Profile">
          </div>
        </ion-button>
        <ion-button *ngIf="!isHomePage" (click)="navigateToHome()">
          <img src="assets/heart.svg" alt="Home" style="height: 40px;">
        </ion-button>
        <div class="bottom-buttons">
          <ion-button (click)="navigateToGitHub()">
            <ion-icon name="logo-github"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
