<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="navigateToHome()"><img src="assets/caster-c-logo.svg" alt="Home" style="height: 24px;"></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="navigateToGitHub()"><ion-icon name="logo-github"></ion-icon></ion-button>
        <ion-button (click)="login()"><ion-icon name="log-in"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
